h1, p {
  font-family: 'Open Sans';
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

.coming-soon h1 {
  margin: 50px auto 30% auto;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
}

.column {
  display: inline-block;
  font-size: 100%;
}

.column > div {
  border: 1px solid #000;
  height: auto;
  width: auto; 
  height: auto;
}

.column > div > h1, p {
  text-align: left;
  margin-top: 5px;
  margin-left: 2.5px;
  margin-right: 2.5spx;
}
